.mae {

.volte {
    display: flex;
    align-items: center;
    

    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 10vh;
    gap: 2vh;

}

.laranja { background-color: #FFCE37;}
.azul { background-color: #2a1bce;}
.verde { background-color: #B3FF37;}
.roxo { background-color: #bc00fb;}

.hr {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;


    
hr{
    width: 170vh;
    height: 1vh;
    border: 0px;
    border-radius: 1vh;


}

 }

}